<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action {% if title == 'home' %}active{% endif %}" >主页</a>
    <a href="/accounts" class="list-group-item list-group-item-action {% if title == 'accounts' %}active{% endif %}">账户管理</a>
    <a href="/giveaway" class="list-group-item list-group-item-action {% if title == 'giveaway' %}active{% endif %}">物品发放</a>
    <a href="/serviceinfo" class="list-group-item list-group-item-action {% if title == 'serviceinfo' %}active{% endif %}">服务器状态</a>
</div>